h1{
 
  margin:10px;
  padding:5px 10px;
  position: fixed; 
  left: 2.7 auto; 
  top: 54 auto; 
 }

 h2{
  margin:10px;
  padding:5px 10px;
  position: fixed; 
  left: 2.7%; 
  top: 87%; 
 }

 h3{
  font-size: 15px; 
  font-family: fantasy;
  position: fixed;
  left: 88%;
  top: 90.2%;
}

 h4{
    font-size: 15px; 
    font-family: fantasy;
    position: fixed;
    left: 82.3%;
    top: 89.5%;
 }
 
a{
  color:black;
}

a:hover{
  color:#bbbbbb;
}
