h1{
  margin-left: auto;
  margin-right: auto;
  margin:10px;
  padding:5px 10px;
  position: fixed; 
  left: 39px; 
  top: 426px; 
 }

 h2{
  margin-left: auto;
  margin-right: auto;
  margin:10px;
  padding:5px 10px;
  position: fixed; 
  left: 39px; 
  top: 690px; 
 }

 h3{
  font-size: 15px; 
  font-family: fantasy;
  position: fixed;
  left: 1270px;
  top: 713px;
}

 h4{
    font-size: 15px; 
    font-family: fantasy;
    position: fixed;
    left: 1190px;
    top: 707.5px;
 }
 
a{
  color:black;
}

a:hover{
  color:#bbbbbb;
}
