h1{
  margin-left: auto;
  margin-right: auto;
  margin:10px;
  padding:5px 10px;
  position: absolute; 
  left: 3.5%;
  top: 54%;
 }

 h2{
  margin-left: auto;
  margin-right: auto;
  margin:10px;
  padding:5px 10px;
  position: absolute; 
  left: 3.5%;
  top: 87.5%;
 }

 h3{
  font-size: 1vw; 
  font-family: fantasy;
  position: absolute;
  left: 88%;
  top: 90.3%;
}

 h4{
    font-size: 1vw; 
    font-family: fantasy;
    position: absolute;
    left: 82.5%;
    top: 89.7%;
 }
 
a{
  color:black;
}

a:hover{
  color:#bbbbbb;
}
